/**
 * farvekoder
 *
 * @format
 */

/* 
#F77F00
#0F084B
#F8F9F9
#AED6F1
#D6EAF8
*/

/* fonte */
/* 
font-family: "Hind Madurai"
font-family: "DM Sans" 
*/
:root {
  --primary: #0f084b;
  --secondary: #d6eaf8;
  --accent: #f77f00;

  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}

/* menu */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0f084b;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.logo img {
  width: 100px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #f8f9f9;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: "DM Sans";
  font-weight: 400;
}

.menu a:hover {
  color: #d6eaf8;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #f8f9f9;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #0f084b;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
/* menu slut */

/*Styling af orange kasse*/
.container_orange {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 370px;
  margin-inline: auto;
}

.kasse_orange {
  width: 100%;
  aspect-ratio: 1/1;
  background: #f77f00;
  grid-column: 1/2;
  grid-row: 1/4;
  place-self: center;
  margin-left: 1rem;
}
.overskrift_orange {
  grid-column: 1/3;
  grid-row: 2/3;
  place-self: center;
}
.citat_orange {
  grid-column: 2/3;
  grid-row: 3/4;
}
.italic {
  font-style: italic;
  margin-left: 25px;
  font-size: 12px;
}

/*footer*/
@media (min-width: 1000px) {
  .grid_footer {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 26%;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #0f084b;
  color: aliceblue;
  position: relative;
  margin: 0;
  font-size: 15px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.5rem;
  padding-left: 3rem;
}

.kontaktos {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ydelser {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.omos {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 3rem;
}

.kontaktoverskrift {
  padding-bottom: 0.5rem;
}

.ydelseroverskrift {
  padding-bottom: 0.5rem;
}

.omosoverskrift {
  padding-bottom: 0.5rem;
}
/*FOOTER SLUT*/

/*font*/
h1 {
  font-family: "DM Sans";
  font-size: 30px;
  font-weight: 400;
}

h2 {
  font-family: "DM Sans";
  font-weight: 150;
  font-size: 22px;
  padding-top: 2%;
  padding-bottom: 2%;
}

a {
  font-family: "Hind Madurai";
}

li {
  font-family: "Hind Madurai";
  font-size: 14px;
  font-weight: 300;
}

h3 {
  font-family: "DM Sans";
}

p {
  font-family: "Hind Madurai";
  font-size: 14px;
  font-weight: 300;
}

h4 {
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 300;
}

/*knap styling*/
.knap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #aed6f1;
  color: #000000;
  text-decoration: none;
  width: 20%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 14px;
  padding: 2%;
}

.knap:hover {
  background: #f77f00;
}
