/* 
font-family: "Hind Madurai"
font-family: "DM Sans" 
*/

img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 600px) {
  .grid1_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 5%;
  }
}

@media (min-width: 400px) {
  .grid1_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f77f00;
    padding-top: 25px;
    padding-bottom: 25px;
    /* gap: 10px; */
  }

  .grid1_3 img {
    align-self: stretch;
    object-fit: cover;
  }
}

.grid1_3 {
  background-color: #f77f00;
  padding-top: 25px;
  padding-bottom: 25px;
}

.undervisning {
  width: 397px;
  height: auto;
}

.skilte {
  width: 375px;
  height: auto;
}

.haendtryk {
  width: 375px;
  height: auto;
}

@media (min-width: 1200px) {
  .grid1_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.drivetrafikskole {
  font-family: "DM Sans";
  font-size: 25px;
}

.orange {
  width: 80px;
  height: 80px;
  background: #f77f00;
  position: absolute;
  left: 7%;
  bottom: 38%;
  z-index: -10;
}

.italic {
  font-style: italic;
  margin-left: 60px;
  margin-bottom: 4%;
  font-size: 12px;
}

.header {
  margin-top: 43px;
  margin-left: 16%;
  z-index: 10;
}

@media (min-width: 800px) {
  .grid_overskrift {
    .italic {
      font-style: italic;
      margin-left: 145px;
      margin-bottom: 4%;
    }

    .header {
      margin-top: 60px;
      margin-left: 435px;
      z-index: 10;
    }

    .orange {
      width: 80px;
      height: 80px;
      background: #f77f00;
      position: relative;
      left: 33%;
      top: 150%;
      z-index: -10;
    }
  }
}

.img_section1 img {
  width: 400px;
  height: auto;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 40px;
  left: 7%;
}

.blue1_1 {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: #0f084b;
  z-index: 0;
  top: 70%;
  left: 6%;
}

@media (min-width: 600px) {
  .skolevogn {
    width: 370px;
    height: auto;
    display: inline-block;
    z-index: 1;
    padding: 40px;
    left: 16%;
  }

  .blue1_1 {
    height: 440px;
    width: 400px;
    background-color: #0f084b;
    z-index: 0;
    top: 127%;
    left: 7%;
  }
}

.blaabaggrundsfarve {
  background-color: #d6eaf8;
}

/*lovpakke*/
@media (min-width: 800px) {
  .lovpakke {
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}

.test {
  padding: 10%;
}

/*gratis information*/
@media (min-width: 800px) {
  .gratisinformation {
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 5%;
  }
}

/*informationtekst*/
@media (min-width: 800px) {
  .informationtekst {
    padding: 10%;
  }
}

/*tekst styling*/
p {
  font-family: "Hind Madurai";
}

h2 {
  font-family: "DM sans";
  font-weight: 100;
  font-size: 22px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.hvadkanvitilbyde {
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: 100;
  padding: 2%;
}

.tekst1 {
  font-size: 13px;
  font-family: "Hind Madurai";
  padding: 2%;
  padding-right: 2%;
}

.kategorier {
  font-family: "DM sans";
  text-align: center;
  padding: 1.5%;
  letter-spacing: 2px;
  font-weight: 100;
}
