/* 
font-family: "Hind Madurai"
font-family: "DM Sans" 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.header {
  margin-top: 43px;
  margin-left: 16%;
  z-index: 10;
}

main {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 20px;
}

/*Kodning af elementer på site*/
.img_section1 img {
  width: 400px;
  height: auto;
  display: inline-block;
  position: relative;
  z-index: 1;
  box-shadow: -20px -20px #0f084b;
  margin-top: 2rem;
  margin-left: 1rem;
}

@media (min-width: 600px) {
  .img_section1 {
    width: 370px;
    height: auto;
    display: inline-block;
    z-index: 1;
    left: 16%;
  }
}

.hvadkanvitilbyde {
  margin-top: 2rem;
}

.hvadkanvitilbyde2 {
  margin-bottom: 1rem;
}

@media (min-width: 1200px) {
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 80px;
    padding-block: 30px;
  }
}

@media (min-width: 600px) {
  .grid1_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 5%;
  }
}

.blaabaggrundsfarve {
  background-color: #d6eaf8;
  padding: 1rem;
}

.kategorier {
  text-align: center;
  padding: 1.5%;
  letter-spacing: 1.5px;
}

.kategorier1 {
  margin-bottom: 1rem;
}

.kategorier2 {
  margin-bottom: 1rem;
}

/*lovpakke*/
@media (min-width: 800px) {
  .lovpakke {
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}

@media (min-width: 1000px) {
  .grid1_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f77f00;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .grid1_3 img {
    align-self: stretch;
    object-fit: cover;
  }
}

.lovpakke1 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.lovpakke2 {
  margin-bottom: 2rem;
}

@media (min-width: 400px) {
  .grid1_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f77f00;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .grid1_3 img {
    align-self: stretch;
    object-fit: cover;
  }
}

.container_clara {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 370px;
  margin-inline: auto;
}

.kasse_clara {
  width: 50%;
  aspect-ratio: 1/1;
  background: #aed6f1;
  grid-column: 1/2;
  grid-row: 1/4;
  place-self: center;
  margin-left: 7rem;
}
.overskrift_clara {
  grid-column: 1/3;
  grid-row: 2/3;
  place-self: center;
}

.information1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.information2 {
  margin-bottom: 1rem;
}

.container_clara2 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  width: 370px;
  margin-inline: auto;
}

.kasse_clara2 {
  width: 26%;
  aspect-ratio: 1/1;
  background: #f77f00;
  grid-column: 1/2;
  grid-row: 1/4;
  place-self: center;
  margin-left: 17rem;
}
.overskrift_clara2 {
  grid-column: 1/3;
  grid-row: 2/3;
  place-self: center;
}

.overskrift_clara2 {
  font-size: 21px;
  padding-top: 2rem;
}

/*informationtekst*/
@media (min-width: 800px) {
  .tekst_information {
    padding: 7%;
  }
}

@media (min-width: 1200px) {
  .grid1_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.test {
  box-shadow: 20px -20px #0f084b;
  margin-top: 3rem;
  margin-right: 1rem;
}

/*gratis information*/
@media (min-width: 800px) {
  .gratisinformation {
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 5%;
  }
}

.gratisinformation1 {
  margin-top: 1rem;
}

.gratisinformation2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
