/** @format */
main {
  max-width: 1200px;
  margin-inline: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 600px) {
  .grid3_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
