/** @format */
main {
  max-width: 1200px;
  margin-inline: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-inline: 20px;
  margin: 0;
}
.img3_1 {
  width: 400px;
  height: auto;
  display: block;
  padding: 20px;
  z-index: 4;
  position: relative;
}
.header {
  position: relative;
  text-align: center;
  margin: 80px 0;
  z-index: 2;
}
.img_section img {
  width: 400px;
  height: auto;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 40px;
}
.blue3_1 {
  position: absolute;
  height: 410px;
  width: 300px;
  background-color: #0f084b;
  z-index: 0;
  top: 20%;
  left: 6%;
}
ul {
  padding: 20px;
}
.knap3 {
  display: inline-block;
  background-color: grey;
  width: 100px;
  height: 40px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #0f084b;
  padding: 2%;
  border: solid 1px #aed6f1;
}
.grid3_2 {
  padding: 10px;
  margin-top: 3rem;
  background-color: #d6eaf8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.list span {
  color: #aed6f1;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.p {
  font-family: "Hind Madurai";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.orange {
  width: 80px;
  height: 80px;
  background: #f77f00;
  position: absolute;
  left: 6%;
  bottom: -7%;
  z-index: 0;
}
.italic {
  font-style: italic;
  margin-left: 60px;
}
.priser {
  border: #aed6f1;
  border-width: 8px;
  border-color: #d6eaf8;
}
.lovpakken {
  margin-top: 5rem;
  margin-left: 3rem;
  z-index: 1;
  position: relative;
}
.blue3_2 {
  width: 80px;
  height: 80px;
  background: #d6eaf8;
  position: absolute;
  left: 4%;
  bottom: -97%;
  z-index: 0;
}
.orange3_1 {
  background-color: #f77f00;
  position: absolute;
  height: 260px;
  width: 340px;

  z-index: 0;
  top: 222%;
  left: 18%;
}
/*********************PRISER********************/
.priser_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.pris {
  flex-shrink: 0;
  padding-left: 10px;
  position: absolute;
  right: 60px;
  z-index: 1;
}
.navn {
  flex-grow: 1;
  position: relative;
  text-align: left;
}
.navn::after {
  content: "...........";
  position: absolute;
  right: 75px;
  white-space: nowrap;
  overflow: hidden;
}
.pris_list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.discount {
  color: #f77f00;
  font-weight: 600;
  position: absolute;
  right: 60px;
}
.final_pris {
  color: #f77f00;
  font-weight: 600;
}
@media (min-width: 600px) {
  .grid3_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .grid3_2 {
    gap: 60px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .list p {
    font-family: "Hind Madurai";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .orange {
    position: absolute;
    left: 57%;
    top: 33%;
  }
  .header {
    margin-left: 40px;
    margin-top: 150px;
  }
  .blue3_1 {
    top: 20%;
    left: 12%;
  }
  .grid3_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .blue3_2 {
    width: 80px;
    height: 80px;
    background: #d6eaf8;
    position: absolute;
    left: 11%;
    bottom: -59%;
    z-index: 0;
  }
  .img3_1 {
    width: 600px;
    height: auto;
    display: block;
    padding: 20px;
    z-index: 4;
    position: relative;
  }

  .orange3_1 {
    background-color: #f77f00;
    position: absolute;
    height: 400px;
    width: 480px;

    z-index: 0;
    top: 143%;
    left: 58%;
  }
  /*********************PRISER********************/
  .priser_list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  .pris {
    flex-shrink: 0;
    padding-left: 10px;
    position: absolute;
    right: 720px;
    z-index: 1;
  }
  .navn {
    flex-grow: 1;
    position: relative;
    text-align: left;
  }
  .navn::after {
    content: ".............................................................";
    position: absolute;
    left: 255px;
    white-space: nowrap;
    overflow: hidden;
  }
  .pris_list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .discount {
    color: #f77f00;
    position: absolute;
    right: 10%;
  }
  .final_pris {
    color: #f77f00;
  }
  .grid3_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}
